@page "{id:int?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookStore.Pages.User.IndexModel
@{
    <h2>Book store</h2>
    <p></p>
    <p>Welcome, @Model.Context.Users.FirstOrDefault(u => u.Email == HttpContext.User.Identity.Name).Name</p>
    <p></p>
    <p></p>
    <a href="~/User/shoppingcart">
        <input type="button" value="Shopping Cart">
    </a>
    <p></p>
    <a href="~/logout">
        <input type="button" value="Log Out">
    </a>
    <br>
    <p></p>
    <table style="border-collapse: collapse; border-color: lightgrey; border-style: solid;">
        <tr>
            <th>TItle</th><th>Author</th><th>Language</th><th>Pages</th><th>Genre</th><th>Price</th><th></th>
        </tr>
        @foreach (var book in Model.Context.Books)
        {
            <tr>
                <td>@book.Title</td><td>@book.Author</td><td>@book.Language</td><td>@book.Pages</td><td>@book.Genre</td><td>@book.Price</td>
                <td>
                    <form method="post">
                        <button type="submit" asp-route-id="@book.Id">Add to cart</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    }
